html {
  font-family: 'Roboto', 'sans-serif';
  font-size: 62.5%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  padding: 10em;
  background-color: #f6f6f6;
  border-radius: 3%;
}

#text {
  font-size: 3.5rem;
  text-align: center;
}

#author {
  font-size: 3.2rem;
  text-align: end;
}

#tweet-quote {
  text-decoration: none;
  color: black;
}

#buttonsDiv {
  display: flex;
  justify-content: start;
}

#buttonsDiv button {
  padding: 0.5em;
  border-radius: 6%;
  color: #f6f6f6;
}

#new-quote {
  align-self: flex-end;
}
